.git
.github

.env
.env.*
!.env.example

node_modules
vendor

database/*.sqlite
database/*.sqlite3

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
.phpunit.result.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
