@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../app/**/*.php';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: sunset --default;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: var(--color-base-100);
    --color-foreground: var(--color-base-content);
    --color-card: var(--color-base-200);
    --color-border: color-mix(in oklab, var(--color-base-content) 15%, transparent);
    --color-input: var(--color-base-300);
    --color-muted-foreground: color-mix(in oklab, var(--color-base-content) 60%, transparent);
}

@layer utilities {
    .btn-outlined {
        @apply btn-outline;
    }

    .form-muted-icon {
        color: var(--color-muted-foreground);
    }

    .form-muted-icon:hover {
        color: var(--color-foreground);
    }

    .error {
        font-size: var(--text-sm);
        color: var(--color-error, #f87171);
    }
}

